<!DOCTYPE html>
<html lang="en">

<%- include('templates/header', {titulo: "Pagina Usuario Pro"}) %>

<body>

    
    <%- include('templates/menu') %>

    <h1>Doctor's Appointments</h1>
        <div class="container">
            <div class="col">
                    <table class="table-primary table-striped table-bordered border-primary" style="height: 80px; width: 1000px">
                       
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Patient Nane</th>
                            <th scope="col">Complain</th>
                        </tr>
                        </thead>
                        <% for(let cite of cites) { %>
                        <tbody>
                        <tr>
                         
                            <td><%= cite.date %></td>
                            <td><%= cite.time %></td>
                            <td>name</td>
                            <td><%= cite.complain %></td>
                            
                        </tr>               
                        </tbody>
                        <% } %>
                    </table><br><br>
                </div>
                <div class="col-4 ">
                    <a class="link" aria-current="page" href="/newappointement" style="background-color:rgb(209, 211, 235)">Add New Appointements</a>
                </div>
            </div>
        </div>
        
    
    
</body>

</html>